# Переменные проекта
DEBUG=True
SECRET_KEY=12345
# База данных
DB_HOST=127.0.0.1
DB_NAME=delivery
DB_USER=root
DB_PASS=123
DB_PORT=33061
# Редис
REDIS_HOST=127.0.0.1
REDIS_DB=1
REDIS_CACHE_EXPIRE_SECONDS=900
REDIS_PASS=
REDIS_PORT=63790
HOST_URL="http://127.0.0.1:8000"
# RabbitMQ
RABBIT_HOST=127.0.0.1
RABBIT_PORT=56720
RABBIT_USER=guest
RABBIT_PASSWORD=guest
RABBIT_VHOST=
